.row {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.row:hover {
  background-color: #fafafa;
}

.row:hover > a {
  color: #0070c9;
}

@media only screen and (max-width: 425px) {
  .row {
    flex-direction: column;
    padding: 15px 0px;
  }
}
