.button {
  width: 76px;
  height: 28px;
  border-radius: 4px;
  background-color: white;
}

.button:disabled {
  color: #b8b8b8;
  border: solid 1px #b8b8b8;
}

.buttonDelete {
  background-color: white;
  color: #ee0000;
  border: solid 1px #ee0000;
}

.buttonSave {
  color: white;
  border: solid 1px #0070c9;
  background-color: #0070c9;
}
