.container {
  padding: 35px 85px;
}

a {
  text-decoration: none;
}

a.active {
  color: #0070c9;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 9px 15px;
}

.headerItem {
  font-size: 12px;
  color: #656565;
  letter-spacing: 0.14px;
  width: calc(33.3% - 100px);
}

.rowItem {
  font-size: 13px;
  letter-spacing: 0.14px;
  color: #333333;
  width: calc(33.3% - 100px);
}

.filler {
  width: 100px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 35px 55px;
  }

  .filler {
    width: 50px;
  }

  .headerItem {
    width: calc(33.3% - 50px);
  }

  .rowItem {
    width: calc(33.3% - 50px);
  }
}

@media only screen and (max-width: 425px) {
  .tableHeader {
    display: none;
  }

  .filler {
    align-self: flex-start;
    margin-left: -20px;
  }

  .rowItem {
    width: 100%;
    padding-top: 15px;
  }
}
