.container {
  padding: 35px 85px;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.inputSection {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.inputBox {
  width: 240px;
  margin-top: 7px;
  padding: 4px 4px 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  border: solid 1px #b9b9b9;
  border-radius: 6px;
}

.roles {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 15px;
  border-left: solid 1px #e5e5e5;
  min-height: 250px;
}

.roleContent {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.roleText {
  font-size: 13px;
  color: #252525;
  margin-left: 8px;
}

@media only screen and (max-width: 425px) {
  .container {
    padding: 35px 55px;
  }

  h1 {
    font-size: 16px;
  }

  .inputBox {
    width: 75%;
  }
}
